<html>
<head>
  <title>Dating Universe</title>
  <link rel="stylesheet" href="../public/styles.css">
  <script src="../public/script.js"></script>
</head>
<body> 
  {{{body}}}
<div class="container">
  <h3>Welcome</h3>
  <p>Find your true love here</p>
</div>
<p>Login with email</p>
  <form method="GET" action="/login">
  {{#each success}}
  <p>{{text}}</p>
  {{/each}}
  {{#each errors}}
  <p>{{text}}</p>
  {{/each}}
  <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" class="form-control" placeholder="Email" required><br> <br>
        </div>
        <div class="form-group">
        <label for"password">Password</label> 
        <input type="password" name="password" id="password" placeholder="Password" class="form-control" required><br> <br>
        </div>
        <button type="submit" class="btn btn-primary btn-lg" style="color:dodgerblue">Login</button>
        <input type="reset">
        <!--<a href="/myAccount"-->
        <!-- lav id som hentes med eventListener i js og derefter gemmes dette i ls-->
      </form> 

    <p>Don't have an account?</p>
  <a href="/createAccount">Create account</a>
</body>

</html>

