<html>
<head>
  <title>Dating Universe</title>
</head>
<body> 
<div class="container">
  <h3>Welcome</h3>
  <p>Find your true love here</p>
</div>
<p style="margin: 30px;">Login with email</p>
 {{#each success}}
  <p>{{text}}</p>
  {{/each}}
  {{#each errors}}
  <p>{{text}}</p>
  {{/each}}
  <form method="POST" action="/login" style="margin: 30px;">
  <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" class="form-control" placeholder="Email" required><br> <br>
        </div>
        <div class="form-group">
        <label for"password">Password</label> 
        <input type="password" name="password" id="password" placeholder="Password" class="form-control" required><br> <br>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Login</button>
        <input type="reset">
        <!--<a href="/myAccount"-->
        <!-- lav id som hentes med eventListener i js og derefter gemmes dette i ls-->
      </form> 

    <p style="margin: 30px;">Don't have an account?</p>
  <a style="margin: 30px" href="/createAccount" >Create account</a>
  <br><br>.
</body>

</html>

