<h3>Explore registered singles!</h3>
{{#each potentialMatches}}
<h4 style="margin: 30px;">{{fullname}}</h4>
<h7 style="margin: 30px;">{{age}} years old</h7>
<p style="margin: 30px;">{{about}}</p>
<!--<a href="/likeUser/"--><button class="btn btn-info like-registeredUser-button" type="button"style="margin: 30px;">Like</button>
<button class="btn btn-secondary dislike-registeredUser-button" type="button" style="margin: 30px;">Dislike</button>
{{/each}}
 <hr class="solid"></hr>
  <section class="container content-section" style="margin: 30px;">
      <h2 class="section-header">Even more singles!</h2>
          <div class="like-user" >
              <a href="/profile">Thor Åkonsson, 44<span class="like-user-title"></span></a>
              <div class="like-user-details"></div>
                  <button class="btn btn-primary like-user-button" type="button">Like</button>
              </div>
              <div class="dislike-user-details" id="dislike"></div>
                <button class="btn btn-outline-danger dislike-user-button" type="button">Dislike</button>
          </div>
          </div>
         <hr class="solid"></hr>
          <div class="like-user">
              <a href="#"><span class="like-user-title">Helena Simonsen, 33</span></a>
              <div class="like-user-details">
                  <button class="btn btn-primary like-user-button"type="button">Like</button>
              </div>
              <div class="dislike-user-details" id="dislike"></div>
                <button class="btn btn-outline-danger dislike-user-button" type="button">Dislike</button>
          </div>
          </div>
          <hr class="solid"></hr>
          <div class="like-user" id="dislike">
              <a href="#"><span class="like-user-title">Steven Johnson, 33</span></a>
              <div class="like-user-details">
                  <button class="btn btn-primary like-user-button" type="button">Like</button>
              </div>
              <div class="dislike-user-details" id="dislike"></div>
                <button class="btn btn-outline-danger dislike-user-button" type="button">Dislike</button>
          </div>
  </section>
   <hr class="solid"></hr>
  <section class="container content-section">
      <h2 class="section-header">My matches</h2>
      <hr class="solid"></hr>
      <div class="match-row">
          <span class="match-user match-header match-column"></span>
      </div>
      <div class="match-users">
      </div>
      <div class="match-total">
          <strong class="match-total-title">Total</strong>
      </div>
  </section>
</ul>
<hr class="solid"></hr>
<script>
  if (document.readyState == 'loading') {
    document.addEventListener('DOMContentLoaded', ready)
} else {
    ready()
}

function ready() {
    var likeButtons = document.getElementsByClassName('like-user-button')
    for (var i = 0; i < likeButtons.length; i++) {
        var button = likeButtons[i]
        button.addEventListener('click', likeUserClicked)

    }
    var removeMatchButtons = document.getElementsByClassName('btn-danger')
    for (var i = 0; i < removeMatchButtons.length; i++) {
        var button = removeMatchButtons[i]
        button.addEventListener('click', removeMatch)
    }

    
    var dislikeButtons = document.getElementsByClassName('dislike-user-button')
    for (var i = 0; i < dislikeButtons.length; i++) {
        var button = dislikeButtons[i]
        button.addEventListener('click', dislikeUser)
    }
}


function removeMatch(event) {
    var buttonClicked = event.target
    buttonClicked.parentElement.parentElement.remove() 
}

function dislikeUser(event) {
    var buttonClicked = event.target
    buttonClicked.parentElement.remove()
}


function likeUserClicked(event) {
    var button = event.target
    var potentialPartner = button.parentElement.parentElement
    var title = potentialPartner.getElementsByClassName('like-user-title')[0].innerText
    likeUser(title)
    alert('MATCH! Denne bruger har også liket dig!')
    matchTotal()
}

function likeUser(title) {
    var matchRow = document.createElement('div')
    matchRow.classList.add('match-row') //for at kunne tælle total matches
    var matchUsers = document.getElementsByClassName('match-users')[0]
    var matchRowContents = `
        <div class="match-user match-column">
            <span class="match-user-title">${title}</span>
            <button class="btn btn-danger" type="button">REMOVE</button>
        </div>`
    matchRow.innerHTML = matchRowContents
    matchUsers.append(matchRow)
    matchRow.getElementsByClassName('btn-danger')[0].addEventListener('click', removeMatch)
}   //efter vi har tilføjet indholdet til match-rækken, muliggøres det her, at brugeren kan fjerne et match

function matchTotal() {
    var matchUsersContainer = document.getElementsByClassName('match-users')[0]
    var matchRows = matchUsersContainer.getElementsByClassName('match-row')
    var total = 0
    for (var i = 0; i < matchRows.length; i++) {
        var matchRow = matchRows[i]
        total = matchRows.length
    } if (total > 0) {
    document.getElementsByClassName('match-total-title')[0].innerText = 'You have ' + total + ' match(es). Wow, you rock!'
}
}

</script>