{{#each potentialMatches}}
<h4>{{fullname}}</h4>
<h7>{{age}}</h7>
<p>{{about}}</p>
<a href="/likeUser/" class="btn btn-primary like-user-button" type="button">Like</button></a>
<button class="btn btn-outline-danger dislike-user-button" type="button">Dislike</button>
{{/each}}