
<head>
    <title>Thor</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="card">
  <img src="/public/image/lagertha.jpg" style="width:100%">
  <h1>Thor Åkonson</h1>
  <p class="title">Earl of Norway and proud father</p>
  <p>Sandefjord</p>
</div>
</body>