
<head>
    <title>Lagertha Lothbrok</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="card">
  <img src="/public/image/lagertha.jpg" style="width:100%">
  <h1>Lagertha Lothbrok</h1>
  <p class="title">Earl and mother</p>
  <p>Kattegat</p>
  <button type="button" class="btn btn-danger" >Dislike</button>
  <form method="GET" action="/likeUser/Lagertha">
  <button type="button" class="btn btn-success">Success</button></form>
</div>
</body>