<h5>{{randomUser.fullname}}</h5>
<div class="card">
  <div class="card-header">
    Potential Partners
  </div>
  <div class="card-body">
    <h5 class="card-title">{{randomUser.fullname}}</h5>
    <p class="card-text">{{randomUser.age}}</p>
    <a href="" class="btn btn-primary">Visit user!</a>
  </div>
</div>