<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
    <h2 class="center">You just got a like from:</h2>
    <div class="card">
    <p class="title">{{newLike.fullname}}</p>
    <a href="/likeBack/{{newLike.email}}" class="btn btn-primary" style="width: 10%;">Like back!</a>
    <a href="/dislike" class="btn btn-danger" style="width: 7%;">Dislike</a>
</div>