<html>
<head>
  <title>Create Account</title>
</head>
<body>
 
    <h1>Sign up and find your true love</h1>
      <form>
          <input type="text" id="fname" placeholder="Fullname" required>
          <input type="email" id="email" placeholder="Email" required>
          <input type="text" id="birthday" placeholder="Birthday" required>
          <input type="text" id="gender" placeholder="Gender" required>
          <input type="password" id="password" placeholder="Password" required>
          <button type="submit" value="Send data" onClick="storeData()" class="btn btn-default"><a href="myAccount.html" style="color:dodgerblue">Submit</a></button>
      </form>
</body>

<!-- Skal gemme i local storage, derfor:-->
<script>
  function storeData() {
    let fname = document.getElementById("fname").value;
    let mail = document.getElementById("email").value;
    let birthday = document.getElementById("birthday").value;
    let gender = document.getElementById("gender").value;
    let password = document.getElementById("password").value;

    let  user = {
        name: fname,
        Mail: mail,
        birthday: birthday,
        Gender: gender, 
        password: password,  }
      
 
        var value = JSON.stringify([user.name, user.Mail, user.birthday, user.Gender, user.password]);
        localStorage.setItem("newUser", value);
        var createdUser = JSON.parse(localStorage.getItem("newUser"));
        //createdUser.push(new User (user.name, user.lastName, user.Birthday, user.Gender, user.Mail));
        var addUser = JSON.stringify(createdUser);
        localStorage.setItem("newUser_"+fname, JSON.stringify(user));
            };
 

  /*function storeData() {
    let fname = document.getElementById("fname").value;
    let lname = document.getElementById("lname").value;
    let birthday = document.getElementById("birthday").value;
    let gender = document.getElementById("gender").value;
    //så jeg kan oprette min key, med efterfølgende value af array
    let user = {
        firstName: fname,
        lastName: lname,
        Birthday: birthday,
        Gender: gender,
    }
    //min localestorage
    localStorage.setItem("New User", [user.firstName, user.lastName, user.Birthday, user.Gender]);

    let data = localStorage.getItem('New User');
    //Skal også kunne fjerne ting fra LS:
    //localStorage.clear("find ud af hvad man skal sige her")
    localStorage.removeItem("New User"); }*/

</script>

</html>