<html>
<head>
  <title>Create Account</title>
  
</head>
<body>
 
    <h1>Sign up and find your true love</h1>
      <!--<table id="personProfile">
          <thead>
              <th>Name</th>
              <th>Value</th>
          </thead>
          <tbody>
          </tbody>
      </table>-->

      <form>
          <input type="text" id="firstname" placeholder="Firstname">
          <input type="text" id="lastname" placeholder="Lastname">
          <input type="email" id="email" placeholder="Email">
          <input type="text" id="birthday" placeholder="Birthday">
          <input type="text" id="gender" placeholder="Gender">
          <input type="password" id="password" placeholder="Password">
          <button type="submit" class="btn btn-default"><a href="C:/Users/Louise%20Skjelborg/Desktop/Programmering/DatingApp/Client/Views/myAccount.html" style="color:dodgerblue">Submit</a></button>
          <form id="fileform">
              <input type="file" value="file" id="file" name="file" onchange="uploadfile()">
          </form>
          
      </form>
      <!--<div id="message"></div>

      <div id="Callback">
          <input type="button" value="Contact API" id="apiButton">
      </div> -->
</body>

<!-- Skal gemme i local storage, derfor:-->
<script>
  function storeData() {
    let fname = document.getElementById("fname").value;
    let lname = document.getElementById("lname").value;
    let bdaymonth = document.getElementById("birthday").value;
    let gender = document.getElementById("gender").value;
    //så jeg kan oprette min key, med efterfølgende value af array
    let user = {
        name: fname,
        lastName: lname,
        Birthday: bdaymonth,
        Gender: gender 
    }
    //min localestorage
    localStorage.setItem("New User",[user.name, user.lastName, user.Birthday, user.Gender]);
    //Skal også kunne fjerne ting fra LS:
    localStorage.clear("find ud af hvad man skal sige her")
  }
  </script>
  <script src="/Client/Views/scripts.js"></script>
</html>