<html>
    <head>
        <title>My matches</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles.css">
</head>

</head>
<nav>
  <div class="topnav">
      <a href="myAccount.html">My account</a>
      <a class="active" href="myMatches.html">My matches</a>
      <a href="explore.html">Explore new matches</a>
      <a href="Settings.html">Settings</a>
  </div>
  </nav>
    <body>
        <p>My matches</p>
    </body>

    <script>
        var matches = [];
        var Match = function(name, gender, age) { //functions allow us to store code for later use
            this.name = name
            this.gender = gender
            this.age = age
        };
        var a = new Match //{name:"", gender:"", age:0}
        //a = instans af Match
        matches.push(new Match);
        
    </script>
</html>
