<html>
<html lang="en">
<head>
        <title>Settings</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles.css">
</head>
<nav>
<div class="topnav">
    <a href="myAccount.html">My account</a>
    <a href="myMatches.html">My matches</a>
    <a href="explore.html">Explore new matches</a>
    <a class="active" href="Settings.html">Settings</a>
</div>
</nav>
    <body>
        <p>Settings</p>
    </body>
</body>
</html>